language: rust
cache: cargo

sudo: false

os:
  - linux
  - osx

rust:
  - stable
  - beta
  - nightly

before_script:
  - rustup component add rustfmt

script:
  - cargo build --all --locked --verbose
  - cargo test --all --locked --verbose
  - |
    if [[ "$TRAVIS_RUST_VERSION" == "stable" ]]; then
      cargo fmt --all -- --check
    fi

jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true
