[package]
name = "monolith"
version = "2.0.23"
authors = [
    "Sunshine <sunshine@uberspace.net>",
    "Mahdi Robatipoor <mahdi.robatipoor@gmail.com>",
    "Emmanuel Delaborde <th3rac25@gmail.com>",
]
description = "CLI tool for saving web pages as a single HTML file"

[dependencies]
base64 = "0.10.1"
clap = "2.33.0"
html5ever = "0.24.1"
lazy_static = "1.4.0"
regex = "1.3.1"
reqwest = "0.9.20"
url = "2.1.0"
