# CI GitHub Actions workflow for monolith

name: CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        rust:
          - stable
          - beta
          - nightly
    runs-on: ${{ matrix.os }}

    steps:
    - run: git config --global core.autocrlf false
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --all --locked --verbose
    - name: Run tests
      run: cargo test --all --locked --verbose
    - name: Check code formatting
      run: |
        rustup component add rustfmt
        cargo fmt --all -- --check
